<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="stylesheet" type="text/css" href="../static/workout.css">
</head>
<body>
    <div align="center">
        <progress id="progress-bar" max="100" value="0" hidden="1"></progress>
        <a id="start" href="#ongoing" onclick="initialize({{exercises_list}})">Press to start</a>
        <h1 id="exname" hidden="1"></h1>
        <h3 id="extime" hidden="1"></h3>
    </div>
    <script type="text/javascript" src="../static/workout.js"></script>
</body>
</html>